/* Basic styling for the main table*/
.table {
	margin-top: 3%;
}

/* Override some bootstrap styles with !important flag */
#header-row {
    background-color: #6da5ff!important;
}

.table-bordered td, .table-bordered th {
    border: 1px solid black!important;
}

th {
	text-align: left;
 	vertical-align: middle !important;
}

/* Stop text from wrapping */
.nowrap {
	float: left;
	white-space: nowrap;
}