{% extends "base.html" %}




{% block content %}

<div class="w3-content w3-margin-top" style="max-width:1800px;">

  <!-- The Grid -->
  <div class="w3-row-padding">
  	<!-- Left Column -->
	<div class="w3-half">
    
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h1 class="w3-text-blue w3-padding-16"><i class="w3-margin-right"></i>Prophet</h1>
        <div class="w3-container">
         <p>Prophet came to be as a project for Software Design and Documentation, a course taught at Rensselaer Polytechnic Institiute. For this course groups would have to design a project of their choice. The HODLers, the name of our group, decided to do a project around cryptocurrency since it was a hot topic at the start of the the project. Our initial idea involved around making a website where user could log in, have access to their crypto, and trade with the many different exchanges. This idea became a little above our heads when we were disccussing the privacy and issues of holding users many different coins and money. </p>
         <p>This lead us to pivot to the current Prophet that we have today, a predictive algorithm for the crypto world using machine learning. Andy Wu and Adam Lawrence were already very familiar with the crypto world while Mike Adams, Igor Carvalho, and Jeremy Torella had limited experience but were open to learning. </p>
        </div>
      </div>
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h1 class="w3-text-blue w3-padding-16"><i class="w3-margin-right"></i>Why Open Source</h1>
        <div class="w3-container">
        <p> We decided to create this project with the hopes that it would further the progress in the field of machine learning as it relates to cryptocurrency. We believe that the advancement in this field would be most efficient if we allowed the website to be open source. As an open source project, this website becomes a platform for others to test their ideas regarding predictive ML algorithms, and allows a community to form around predicting cryptocurrency price changes.</p>
        <p>More information on the code can be found in our github page. <a class="w3-text-indigo" href="https://github.com/andywu9/Prophet">https://github.com/andywu9/Prophet</a> </p>
    </div>
      </div>
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h1 class="w3-text-blue w3-padding-16"><i class="w3-margin-right"></i>Algorithm</h1>
      </div>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-half">

      <div class="w3-container w3-card w3-white">
        <h1 class="w3-text-blue w3-padding-16"><i class="w3-margin-right"></i>Team Members</h1>
        
        <div class="w3-container">
       	  <div class="w3-display-container">
          <img src="https://raw.githubusercontent.com/andywu9/Prophet/master/AboutUsImage/Mike.JPG" style="width:50%" alt="Image of Mike">
          </div>
          <h3 class="w3-opacity"><b>Mike Adams</b></h3>
          <h6 class="w3-text-black">Major: <span class="w3-text-blue">Computer Science</span></h6>
          <h6 class="w3-text-black">Future Plans: <span class="w3-text-blue">Amazon</span></h6>
          <p class="w3-text-black">Mike became interested in programming while taking a computer science course on a whim in high school. His main interests involve back end development and artificial intelligence. Outside of computer science he enjoys playing sports, buying shoes, and chilling with friends.</p>
          <hr>
        </div>
        <div class="w3-container">
       	  <div class="w3-display-container">
          <img src="https://raw.githubusercontent.com/andywu9/Prophet/master/AboutUsImage/Igor.jpg" alt="Image of Igor" style="width:50%">
          </div>

          <h3 class="w3-opacity"><b>Igor Carvalho</b></h3>
          <h6 class="w3-text-black">Major: <span class="w3-text-blue">Computer Science/Game Design Dual</span></h6>
          <h6 class="w3-text-black">Future Plans: <span class="w3-text-blue">Factset</span></h6>
          <p class="w3-text-black">Igor started his passion with Computer Science in "Intro to Java", a course thought by his high school. After a few projects, he really enjoyed working on the front end and with visuals. This lead him to getting a dual major in game design. His interests involve playing games, volleyball, and hanging out. </p>
          <hr>
        </div>
        <div class="w3-container">
       	  <div class="w3-display-container">
          <img src="https://raw.githubusercontent.com/andywu9/Prophet/master/AboutUsImage/Adam.JPG" style="width:50%" alt="Image of Adam">
          </div>

          <h3 class="w3-opacity"><b>Adam Lawrence</b></h3>
          <h6 class="w3-text-black">Major: <span class="w3-text-blue">Computer Science</span></h6>
          <h6 class="w3-text-black">Future Plans: <span class="w3-text-blue">Microsoft</span></h6>
          <p class="w3-text-black">Adam chose to study computer science due to its scalability  - once the code is written, it can be distributed anywhere. Since his time as a freshman at RPI, Adam has worked projects ranging from cryptocurrency portfolio managers to Uber trip optimizers. He also used his computer science experience to get a Program Manager internship at Microsoft.</p>
          <hr>
        </div>
        <div class="w3-container">
       	  <div class="w3-display-container">
          <img src="https://raw.githubusercontent.com/andywu9/Prophet/master/AboutUsImage/Jeremy.jpg" style="width:50%" alt="Image of Jeremy">
          </div>

          <h3 class="w3-opacity"><b>Jeremy Torella</b></h3>
          <h6 class="w3-text-black">Major: <span class="w3-text-blue">Computer Science</span></h6>
          <h6 class="w3-text-black">Future Plans: <span class="w3-text-blue">Wayfair</span></h6>
          <p class="w3-text-black">Jeremy began developing in his junior year of high school, in a prep course for an AP computer science course. In college he continued his passion for computer science at RPI and worked for many companies like Cisco and the NYS Department of Labor. In his senior year, he was hired by Wayfair to pursue a career in software development after graduation.</p>
          <hr>
        </div>
        <div class="w3-container">
       	  <div class="w3-display-container">
          <img src="https://raw.githubusercontent.com/andywu9/Prophet/master/AboutUsImage/Andy.jpg" style="width:50%" alt="Image of Andy">
          </div>

          <h3 class="w3-opacity"><b>Andy Wu</b></h3>
          <h6 class="w3-text-black">Major: <span class="w3-text-blue">Computer Science</span></h6>
          <h6 class="w3-text-black">Future Plans: <span class="w3-text-blue">Amazon</span></h6>
          <p class="w3-text-black">Andy’s passion for computer science was ignited when he attempted to create a private server for a game he loved to played in middle school. He is currently invested in cryptocurrency and enjoys playing soccer and volleyball in his spare time.</p>
          <hr>
        </div>
      </div>

    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>
<p>
</p>

{% endblock %}
