{% extends "base.html" %}
{% load static i18n %}

{% block css %}
  {{block.super}}

  <link href="{% static 'css/w3.css' %}" rel="stylesheet">
{% endblock %}



{% block content %}

<div class="w3-content w3-margin-top" style="max-width:1800px;">

  <!-- The Grid -->
  <div class="w3-row-padding">
  	<!-- Left Column -->
	<div class="w3-half">

      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h1 class="w3-text-blue w3-padding-16"><i class="w3-margin-right"></i>Prophet</h1>
        <div class="w3-container">
         <p>Prophet came to be as a project for Software Design and Documentation, a course taught at Rensselaer Polytechnic Institute. For this course, groups would have to design a project of their choice. The HODLers, the name of our group, decided to do a project around cryptocurrency since it was a hot topic at the start of the project. Our initial idea centered around making a website where users could log in, have access to their crypto, and trade with the many different exchanges. This idea became a little above our heads when we were discussing the privacy and issues of holding users many different coins and money.
         </p>
         <p>This led us to pivot to the current Prophet that we have today, a predictive algorithm for the crypto world using machine learning. Andy Wu and Adam Lawrence were already very familiar with the crypto world while Mike Adams, Igor Carvalho, and Jeremy Torella had limited experience but were open to learning.
         </p>
        </div>
      </div>
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h1 class="w3-text-blue w3-padding-16"><i class="w3-margin-right"></i>Why Open Source</h1>
        <div class="w3-container">
         <p>We decided to create this project with the hopes that it would further the progress in the field of machine learning, as it relates to cryptocurrency. We believe that the advancement in this field would be most efficient if we allowed the website to be open source. As an open source project, this website becomes a platform for others to test their ideas regarding predictive ML algorithms and allows a community to form around predicting cryptocurrency price changes.
         </p>
        <p>More information on the code can be found in our GitHub page. <a class="w3-text-indigo" href="https://github.com/andywu9/Prophet">https://github.com/andywu9/Prophet</a> </p>
    </div>
      </div>
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h1 class="w3-text-blue w3-padding-16"><i class="w3-margin-right"></i>Algorithm</h1>
        <div class="w3-container">
         <p>Prophet currently uses two algorithms for price forecasts: linear regression and an LSTM, long short-term memory, neural network. A linear regression is a line that best fits the prices between a starting price and an ending price. We use linear regression to forecast trend directions which helps users determine when to buy and when to sell their cryptocurrencies. An LSTM neural network is a variant of an RNN, recurrent neural network, and is a model for short-term memory which can last over a long period of time. It allows us to chain outputs from one step of our neural network, as inputs, to the next step of our neural network. The ability to connect previous information to our current task is crucial for making better predictions. For more about how an LSTM neural network works, here is a <a class="w3-text-indigo" href="http://colah.github.io/posts/2015-08-Understanding-LSTMs/">website</a>
             for a more detailed explanation.
         </p>
        </div>
      </div>
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h1 class="w3-text-blue w3-padding-16"><i class="w3-margin-right"></i>How To</h1>
        <div class="w3-container">
         <p>On the home page, we give you all of our information and data, but accessing all of that information may not be so clear. Here is how to get all that Prophet has to offer:
         </p>
         <h6 class="w3-text-black"><br>Searching</h6>
         <img src="https://raw.githubusercontent.com/andywu9/Prophet/master/AboutUsImage/ProphetSearch.gif" alt="Gif of user searching using Prophet homepage" style="width:100%">
         <p>To search, simply type the name of the coin you are interested in searching for in the search bar.</p>
         <h6 class="w3-text-black"><br>Opening a pop up</h6>
         <img src="https://raw.githubusercontent.com/andywu9/Prophet/master/AboutUsImage/ProphetOpenPopUp.gif" alt="Gif of user opening a popup of a coin" style="width:100%">
         <p>Click on any specific coin and the pop up for that coin will appear.</p>
         <h6 class="w3-text-black"><br>View specific data</h6>
         <img src="https://raw.githubusercontent.com/andywu9/Prophet/master/AboutUsImage/ProphetViewMoreData.gif" alt="Gif of user searching using Prophet homepage" style="width:100%">
         <p>With the pop up open, click on a specific time range you wish and hover over the line on the graph.</p>
         <h6 class="w3-text-black"><br>Learning more</h6>
         <img src="https://raw.githubusercontent.com/andywu9/Prophet/master/AboutUsImage/ProphetViewInfo.gif" alt="Gif of user viewing more information of a coin" style="width:100%">
         <p>To learn more about a coin, click on the "Info" tab in the pop up window.</p>
        </div>
      </div>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-half">

      <div class="w3-container w3-card w3-white">
        <h1 class="w3-text-blue w3-padding-16"><i class="w3-margin-right"></i>Team Members</h1>

        <div class="w3-container">
       	  <div class="w3-display-container">
          <img src="https://raw.githubusercontent.com/andywu9/Prophet/master/AboutUsImage/Mike.JPG" style="width:50%" alt="Image of Mike">
          </div>
          <h3 class="w3-opacity"><b>Mike Adams</b></h3>
          <h6 class="w3-text-black">Major: <span class="w3-text-blue">Computer Science</span></h6>
          <h6 class="w3-text-black">Future Plans: <span class="w3-text-blue">Amazon</span></h6>
          <p class="w3-text-black">Mike became interested in programming while taking a computer science course on a whim in high school. His main interests involve back-end development and artificial intelligence. Outside of computer science he enjoys playing sports, buying expensive shoes, and chilling with friends.
          </p>
          <hr>
        </div>
        <div class="w3-container">
       	  <div class="w3-display-container">
          <img src="https://raw.githubusercontent.com/andywu9/Prophet/master/AboutUsImage/Igor.jpg" alt="Image of Igor" style="width:50%">
          </div>

          <h3 class="w3-opacity"><b>Igor Carvalho</b></h3>
          <h6 class="w3-text-black">Major: <span class="w3-text-blue">Computer Science/Game Design Dual</span></h6>
          <h6 class="w3-text-black">Future Plans: <span class="w3-text-blue">Factset</span></h6>
          <p class="w3-text-black">Igor started his passion for Computer Science in "Intro to Java", a course taught by his high school. After a few projects, he really enjoyed working on the front-end and with visuals. This led him to get a dual major in game design. His interests involve playing games,
          volleyball, and hanging out.
          </p>
          <hr>
        </div>
        <div class="w3-container">
       	  <div class="w3-display-container">
          <img src="https://raw.githubusercontent.com/andywu9/Prophet/master/AboutUsImage/Adam.JPG" style="width:50%" alt="Image of Adam">
          </div>

          <h3 class="w3-opacity"><b>Adam Lawrence</b></h3>
          <h6 class="w3-text-black">Major: <span class="w3-text-blue">Computer Science</span></h6>
          <h6 class="w3-text-black">Future Plans: <span class="w3-text-blue">Microsoft</span></h6>
          <p class="w3-text-black">Adam chose to study computer science due to its scalability  - once the code is written, it can be distributed anywhere.
              Since his time as a freshman at RPI, Adam has worked projects ranging from cryptocurrency portfolio managers to Uber trip optimizers. He also used
              his computer science experience to get a Program Manager internship at Microsoft.
          </p>
          <hr>
        </div>
        <div class="w3-container">
       	  <div class="w3-display-container">
          <img src="https://raw.githubusercontent.com/andywu9/Prophet/master/AboutUsImage/Jeremy.jpg" style="width:50%" alt="Image of Jeremy">
          </div>

          <h3 class="w3-opacity"><b>Jeremy Torella</b></h3>
          <h6 class="w3-text-black">Major: <span class="w3-text-blue">Computer Science</span></h6>
          <h6 class="w3-text-black">Future Plans: <span class="w3-text-blue">Wayfair</span></h6>
          <p class="w3-text-black">Jeremy began developing in his junior year of high school, in a prep course for an AP computer science class. In college
              he continued his passion for computer science at RPI and worked for many companies like Cisco and the NYS Department of Labor. In his senior year,
              he was hired by Wayfair to pursue a career in software development after graduation.
          </p>
          <hr>
        </div>
        <div class="w3-container">
       	  <div class="w3-display-container">
          <img src="https://raw.githubusercontent.com/andywu9/Prophet/master/AboutUsImage/Andy.jpg" style="width:50%" alt="Image of Andy">
          </div>

          <h3 class="w3-opacity"><b>Andy Wu</b></h3>
          <h6 class="w3-text-black">Major: <span class="w3-text-blue">Computer Science</span></h6>
          <h6 class="w3-text-black">Future Plans: <span class="w3-text-blue">Amazon</span></h6>
          <p class="w3-text-black">Andy’s passion for computer science was ignited when he attempted to create a private server for a game he loved to play
              in middle school. He is currently invested in cryptocurrency and enjoys playing soccer and volleyball in his spare time.<br> <br>
          </p>
          <hr>
        </div>
      </div>

    <!-- End Right Column -->
    </div>

  <!-- End Grid -->
  </div>

  <!-- End Page Container -->
</div>
<p>
</p>

{% endblock %}
